.parent{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../Images/images.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	height: 100vh;
}

.nav{
    display: flex; 
    justify-content: space-around;
    /* height: 30vh; */
}

.logo{
    display: flex; 
    justify-content: flex-start;
    height: 70px;
    width: 70px;
    margin-top: 3%;
    /* flex-basis: 40%; */
        /* height: 100px;
        width: auto;
        float: left;
        height: 10;
        margin-top: 20px; */ 

}

img{
    height: 100%;
    width: 100%;
}

.link{
    display: flex;
    flex-direction: row;
    /* flex-basis: 60%; */
    justify-content: flex-end;
    margin-top: 3%;
    /* justify-content: space-between; */
}

a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 20px;
}

a:hover{
    color:orange;
}

.body-text{
   margin-top: 130px;
   margin-left: 70px;
}

p{
    font-size: 45px;
    padding: 0%;
    margin: 0%;
    color: white;

}

.button{
    display: flex;
    /* flex-basis: 40%; */
    /* justify-content: space-around; */
    height: 40px;
    width: 300px;
    margin-left: 50px;
    margin-top: 40px;

}

button{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 17px;
    /* border: orange; */
}

.btn1{
    background-color: rgb(221, 154, 28);
    color: white;
    border:1px solid orange;
    
}

.btn1:hover{
    background-color: inherit;
    color: 1px solid white;
}

.btn2{
    background-color: inherit;
    color: white;
    border: 1px solid orange;
    /* margin-left: 100px; */
}

.btn2:hover{
    background-color: orange;
    color: white;
    border: 1px solid orange;
}
